In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("Dataset/converted_data.csv")

In [5]:
df.head()

,Income,Age,Dependents,Occupation,City_Tier,Bills,Bills_Percentage,Groceries,Groceries_Percentage,Transport,...,Entertainment,Entertainment_Percentage,Healthcare,Healthcare_Percentage,Education,Education_Percentage,Utilities,Utilities_Percentage,Disposable_Income,Disposable_Income_Percentage
0,8.352969e+06,49,0,Self_Employed,Tier_1,2.918791e+06,34.943159,1.555157e+06,18.618016,4.934563e+05,...,287466.159731,3.441485,289474.117741,3.465524,0.000000,0.000000,7.004870e+05,8.386084,2.108137e+06,25.238176
1,5.026049e+06,34,2,Retired,Tier_2,1.167924e+06,23.237409,6.489336e+05,12.911406,2.887451e+05,...,196531.736343,3.910263,212832.553465,4.234590,290373.956254,5.777380,4.098855e+05,8.155223,1.810823e+06,36.028758
2,9.425290e+06,35,1,Student,Tier_3,2.688879e+06,28.528345,1.464673e+06,15.539823,6.028199e+05,...,322482.425043,3.421459,407665.670509,4.325232,591335.721401,6.273926,7.479265e+05,7.935315,2.599507e+06,27.580129
3,1.898539e+07,21,0,Self_Employed,Tier_3,5.037016e+06,26.531014,3.692149e+06,19.447323,1.329770e+06,...,534853.888180,2.817187,855393.351856,4.505536,0.000000,0.000000,1.619536e+06,8.530437,5.916668e+06,31.164326
4,4.654912e+06,52,4,Professional,Tier_2,1.632442e+06,35.069242,6.974629e+05,14.983374,2.388069e+05,...,123540.765529,2.653987,218772.900043,4.699829,270443.212734,5.809846,3.009423e+05,6.465049,1.172501e+06,25.188459